@import "./variables";
@mixin centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.header {
    background-color: #1B1A17;
    height: 5rem;
  
    &__titulo{
            color: $colorTitulo;
            @include centrado;
            padding: 1.5rem;
            font-family: 'Libre Franklin', sans-serif;
        }
        
}