$colorTitulo: white;

//CENTRAR COSAS
@mixin centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


//MIXIN PARA LOS ESTILOS DE LOS BOTONES MAS GRANDES
@mixin estilosBotonesGrandes{
    &__divBotones{
        @include centrado;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__btn {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-color: #1b1a17;
        border-width: 0.1rem;
        border-color: whitesmoke;
        color: whitesmoke;
        width: 20rem;
        height: 5rem;
        font-size: 2rem;
        font-family: 'Libre Franklin', sans-serif;
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
    }    
}


//MIXIN PARA LOS ESTILOS DE LOS BOTONES SALIR
@mixin estilosBotonSalir {
    .main__btnSalir{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-color: #1b1a17;
        color: whitesmoke;
        width: 10rem;
        height: auto;
        font-size: 2rem;
        font-family: 'Libre Franklin', sans-serif;
        padding: 1rem;
        &:hover{
            opacity: 80%;
            transform: scale(1.1);
            cursor: pointer;
        }
    
    }
}

//MIXIN PARA LOS ESTILOS DE LOS BOTONES
//ALTA CLIENTE
@mixin estilosBtnAlta {
    
    .btnUsuarios {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-color: #1b1a17;
        color: whitesmoke;
        width: auto;
        height: auto;
        font-size: 2rem;
        font-family: 'Libre Franklin', sans-serif;
        padding: 1rem;
        &:hover{
            opacity: 80%;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
    //PRODUCTOS
    @mixin estilosBtnAlta2 {
        .btnProductos {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            background-color: #1b1a17;
            color: whitesmoke;
            width: auto;
            height: auto;
            font-size: 2rem;
            font-family: 'Libre Franklin', sans-serif;
            padding: 1rem;
            &:hover{
                opacity: 80%;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }   

