@import "../../parciales/variables";


@include estilosBotonSalir; 
.main__agregar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(67, 67, 67);
    
    opacity: 80%;
    width: 30rem;
    height: auto;
    border-radius: 3rem;
    padding: 2rem;
    color: wheat;
    text-align: center;
}

