/*
Esto esta mal pero para probar
*/
.main__btnSalir{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #F0A500;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
}
