
<div class="main__divBotones">
    <button class="main__btn" (click)="setEleccion(1)">Administar Clientes</button>
    <div class="main__agregar" *ngIf="eleccion == 1">
        <app-administrador-clientes></app-administrador-clientes>
        <br>
        <button class="main__btnSalir" (click)="setEleccion(0)">Salir</button>
    </div>
    <button class="main__btn" (click)="setEleccion(2)">Admin. Productos</button>
    <div class="main__agregar"  *ngIf="eleccion == 2">
        <app-administrador-producto></app-administrador-producto>
        <br>
        <button class="main__btnSalir" (click)="setEleccion(0)">Salir</button>
    </div>
    <button class="main__btn" (click)="setEleccion(3)">Agregar Ventas</button>
    <div class="main__agregar" *ngIf="eleccion == 3">
        <app-agregar-ventas></app-agregar-ventas>
        <br>
        <button class="main__btnSalir" (click)="setEleccion(0)">Salir</button>
    </div>
    <button class="main__btn" (click)="setEleccion(4)">Mostrar Ventas</button>
    <div class="main__agregar" *ngIf="eleccion == 4">
        <app-mostrar-ventas></app-mostrar-ventas>
        <br>
        <button class="main__btnSalir" (click)="setEleccion(0)">Salir</button>
    
</div>