  <header class="header">
      <div class="header__modoOscuro">
          <button class="header__btnModoOscuro">Modo Oscuro</button>
      </div>
      <div class="header__logo"> 
          <img class="header__img" src="." alt="logo">
          <h1 class="header__titulo">RIA Restaurant</h1>
      </div>
  </header>
  <main class="main">
    <app-seleccion></app-seleccion>
  </main>
  
  <footer class="footer">
      <p>Nahuel Perdomo/Andres Castro - Todos los Derechos Reservados</p>
  </footer>

